.fixed-body {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 75px;
    right: 0;
    overflow: auto;
}
.menu-header {
    height: 75px;
    background: white;
    width: 100%;
    overflow: hidden;
    font-family: monospace, arial;
}
.menu-header-top-in {
    height: 25px;
    width: 100%;
    background: rgba(240,240,240);
    box-shadow: 0 0 0 1px gainsboro;
    position: fixed;
    z-index: 11;
}
.menu-header-top-in-list {
    margin: 5px auto 0 auto;
    font-size: 11px;
    overflow: hidden;
    display: table;
    color: rgb(170,170,170);
    font-weight: bold;
}
.menu-header-top-in-list-btn {
    float: left;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.menu-header-top-in-list-btn:hover {
	text-decoration: underline;
}

.menu-header-top-in-list-btn:last-child {
	margin-right: 0;
}

.menu-header-in {
    height: 50px;
    position: fixed;
    width: 100%;
    top: 25px;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
    z-index: 10;
}
.menu-header-in-left {
    display: block;
    height: 40px;
    margin: 5px 0 0 50px;
    position: absolute;
    overflow: hidden;
}
.menu-header-in-left-icon {
    width: 40px;
    height: 40px;
    background: url(/web/icons/linux.png) no-repeat center;
    float: left;
}
.menu-header-in-left-title {
	float: left;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    margin: 7px 0 0 7px;
    letter-spacing: .1em;
    text-shadow: 0 4px 5px rgb(180,180,180);
    font-weight: bold;
}
.menu-header-in-left-title-in {
    color: rgb(204, 33, 40);
    text-shadow: 0 4px 5px rgba(204, 33, 40,.7);
}
.menu-header-in-right {
    position: absolute;
    right: 0;
}
.menu-header-in-right-search {
    float: left;
}
.menu-header-in-right-search-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    margin: 12px 0 0 152px;
}
.menu-header-in-right-search-icon:before,.menu-header-in-right-search-icon:after {
	content: '';
	position: absolute;
}
.menu-header-in-right-search-icon:before {
    width: 12px;
    height: 12px;
    border: 2px solid rgb(200,200,200);
    border-radius: 10px;
    margin: 5px 0 0 5px;
}
.menu-header-in-right-search-icon:after {
    width: 2px;
    height: 6px;
    background: rgb(200,200,200);
    transform: rotate(-45deg);
    margin: 13px 0 0 15px;
}
.menu-header-in-right-search-in {
    background: rgb(240,240,240);
    border: 2px solid gainsboro;
    height: 30px;
    border-radius: 30px;
    margin: 10px 10px 0 0;
    outline: none;
    padding: 0 26px 0 10px;
    font-size: 12px;
    width: 180px;
}
.menu-header-in-right-search-in:focus {
	background: white;
}
.menu-header-in-right-list {
    float: right;
    overflow: hidden;
    margin: 11px 50px 0 0;
}
.menu-header-in-right-list-btn {
    height: 28px;
    font-size: 12px;
    outline: none !important;
    background: transparent;
    border: 2px solid #2f70aa;
    color: #2f70aa;
    font-weight: bold;
    border-radius: 24px;
    padding: 0 10px 0 10px;
	transition: all 0.1s ease-in-out;
}
.menu-header-in-right-list-btn:hover {
	color: white;
	background: #2f70aa;
}
.display {
	box-shadow: 0 0 0 1px gainsboro;
	background: rgb(245,245,2450);
}
.menu-header-in-right-icon-list {
    display: none;
    position: fixed;
    max-width: 250px;
    min-width: 30%;
    right: 0;
    top: 75px;
    bottom: 0;
    background: white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
    z-index: 5;
}
.menu-header-in-right-icon-list-log {
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid gainsboro;
}








.menu-header-in-center {
    overflow: hidden;
    margin: 0 185px 0 0;
}
.menu-header-in-center-list {
    display: table;
    margin: 0 auto 0 auto;
    overflow: hidden;
}
.menu-header-in-center-list-btn {
    background: transparent;
    border: none;
    height: 50px;
    padding: 0 15px 0 0;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    font-size: 12px;
}
.menu-header-in-center-list-btn-icon {
    float: right;
    width: 16px;
    height: 10px;
    margin: 3px 0 0 8px;
    transform: rotate(0deg);
	transition: all 0.5s ease-in-out;
}
.menu-header-in-center-list-btn-icon:before,.menu-header-in-center-list-btn-icon:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    background: gainsboro;
    transform: rotate(-45deg);
    margin: 0 0 0 -4px;
}
.menu-header-in-center-list-btn-icon:after {
    transform: rotate(45deg);
    margin-left: 2px;
}

.sign-up-btn {
	border-color: #00b900;
    color: #00b900;
}
.sign-up-btn:hover {
	color: white;
	background: #00b900;
}
.menu-header-in-center-list-btn:hover > .menu-list {
	display: block;
}
.menu-header-in-center-list-btn:hover > .menu-list > .menu-list-in {
	margin-top: 0%;
	transition: all 0.5s ease-in-out;
}
.menu-header-in-center-list-btn:hover > .menu-header-in-center-list-btn-icon {
	transform: rotate(180deg);
	transition: all 0.5s ease-in-out;
}
.menu-list {
	top: 75px;
    position: fixed;
    width: 100%;
    left: 0;
    border-top: 1px solid rgb(240,240,240);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.3);
	display: none;
}
.menu-list-in {
    width: 100%;
    background: white;
    padding: 20px 150px 20px 150px;
    overflow: hidden;
    min-height: 200px;
	transition: all 0.5s ease-in-out;
}
.menu-list-in-last {
    padding: 20px 230px 20px 230px;
}
.menu-list-in-main {
	overflow: hidden;
	display: flex;
}
.menu-list-in-main-item {
    width: 20%;
    margin: 0;
    border-right: 1px solid rgb(240,240,240);
    color: #5a899e;
    text-align: left;
    animation: item1 .1s ease-in-out 0;
    animation-iteration-count: initial;
}
@keyframes item1 {
	from {
		margin-top: -20px;
		margin-bottom: 20px;
		opacity: 0;
	} to {
		margin-top: 0;
		margin-bottom: 0;
		opacity: 1;
	}
}
.menu-list-in-main-item-last {
	width: 33.3% !important;
}
.menu-list-in-main > .menu-list-in-main-item:nth-child(2) {
	color: #e46f77;
    animation-duration: .2s;
}
.menu-list-in-main > .menu-list-in-main-item:nth-child(3) {
	color: #0099d8;
    animation-duration: .3s;
}
.menu-list-in-main > .menu-list-in-main-item:nth-child(4) {
	color: #00b900;
    animation-duration: .4s;
}
.menu-list-in-main-item:last-child {
	border: none;
	color: darkorange;
    animation-duration: .5s;
}
.menu-list-in-main-item-title {
    font-size: 12px;
    text-align: center;
    border-bottom: 1px dotted;
    display: table;
    margin: 10px auto 10px auto;
}
.menu-list-in-main-item-option {
    padding: 10px 10px 10px 25px;
    margin: 0 10px 0 10px;
    border-radius: 2px;
    text-transform: capitalize;
    line-height: 1.2;
}
.menu-list-in-main-item-option:last-child {
	margin-bottom: 10px;
}
.menu-list-in-main-item-option:before {
    content: '';
    position: absolute;
    border-top: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    margin: 2px 0 0 -18px;
}
.menu-list-in-main-item-option:hover {
	background: rgb(245,245,245);
}
.layer-main {
    overflow: hidden;
}
.layer-main-in {
    position: relative;
    height: 500px;
    width: 100%;
    background: linear-gradient(to left, rgb(209, 206, 206), rgb(230,240,240));
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform: skewY(-6deg);
    margin-top: -6%;
}
.left-column {
    width: 30%;
    min-height: 400px;
    overflow: hidden;
}
.left-column-title {

}
.menu-header-in-right-icon {
    display: none;
    width: 28px;
    height: 28px;
    float: right;
    margin: 11px 40px 0 0;
    border: 2px solid gainsboro;
    border-radius: 30px;
    cursor: pointer;
    background: rgb(240,240,240);
}
.menu-header-in-right-icon:hover {
	background: white;
}
.menu-header-in-right-icon-in,.menu-header-in-right-icon-in:before,.menu-header-in-right-icon-in:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background: gainsboro;
    margin: 6px 0 0 9px;
}
.menu-header-in-right-icon-in:before {
    margin: 5px 0 0 0;
}
.menu-header-in-right-icon-in:after {
    margin: 10px 0 0 0;
}

.menu-header-in-right-icon-in-after,.menu-header-in-right-icon-in-after:before,.menu-header-in-right-icon-in-after:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background: gainsboro;
    margin: 6px 0 0 5px;
}
.menu-header-in-right-icon-in-after:before {
    margin: 5px 0 0 0;
}
.menu-header-in-right-icon-in-after:after {
    margin: 10px 0 0 0;
}
.menu-header-in-right-icon-view {
	display: none;
    width: 150px;
    background: white;
    margin: 40px 0 0 -104px;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
}
.menu-header-in-right-icon-view-icon {
    width: 30px;
    height: 24px;
    position: absolute;
    margin: -24px 0 0 101px;
    overflow: hidden;
}
.menu-header-in-right-icon-view-icon:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
    background: white;
    transform: rotate(-45deg);
    margin: 21px 0 0 0;
}
.menu-header-in-right-icon-view-body {
    margin: 10px;
}
.menu-header-in-right-icon-view-body-btn {
    width: 100%;
    margin: 10px 0 0 0;
}
.menu-header-in-right-icon-view-body-btn:last-child {
	margin-bottom: 10px;
}
.menu-header-in-right-icon-list-body {
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    color: grey;
    cursor: pointer;
}
.menu-header-in-right-icon-list-body-item {
    overflow: hidden;
    border-bottom: 1px solid gainsboro;
}
.menu-header-in-right-icon-list-body-item-title {
    padding: 10px 10px 10px 25px;
}
.menu-header-in-right-icon-list-body-item-title:hover {
	background: rgb(245,245,245);
}
.menu-header-in-right-icon-list-body-item-title:before {
    content: '';
    position: absolute;
    border-top: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    margin: 4px 0 0 -18px;
	transition: all 0.1s ease-in-out;
}
.menu-header-in-right-icon-list-body-item-title-option {
	display: none;
}
.menu-header-in-right-icon-list-body-item-title-option-title {
	padding: 10px 10px 10px 35px;
}
.menu-header-in-right-icon-list-body-item-title-option-title:before {
    content: '';
    position: absolute;
    border-top: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    margin: 4px 0 0 -18px;
	transition: all 0.1s ease-in-out;
}
.menu-header-in-right-icon-list-body-item-title-option:hover {
	background: rgb(245,245,245);
}
.menu-header-in-right-icon-list-body-item:hover > .menu-header-in-right-icon-list-body-item-title-option {
	display: block;
}
.menu-header-in-right-icon-list-body-item:hover > .menu-header-in-right-icon-list-body-item-title:before {
	transform: rotate(90deg);
}
.menu-header-in-right-icon-list-body-item-title-option-item {
    display: none;
    padding: 10px 10px 10px 45px;
}
.menu-header-in-right-icon-list-body-item-title-option-item:hover {
	background: rgb(235,235,235);
}
.menu-header-in-right-icon-list-body-item-title-option-item:before {
    content: '';
    position: absolute;
    border-top: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    margin: 4px 0 0 -18px;
	transition: all 0.1s ease-in-out;
}
.menu-header-in-right-icon-list-body-item-title-option:hover:before {
	transform: rotate(90deg);
}
/*MINI DEVICES*/
@media only screen and (max-width: 475px) {
	
}

@media only screen and (max-width: 1050px) {
	.menu-header-in-right-list {
		display: none;
	}
	.menu-header-in-right-icon {
		display: block;
	}
	.menu-header-in-left {
		margin-left: 40px;
	}
	.menu-header-in-center {
		margin-right: 70px;
	}
	.menu-list-in {
		padding: 20px 50px 20px 50px;
	}
	.menu-list-in-last {
		padding: 20px 150px 20px 150px;
	}
	.menu-header-in-right-icon:hover > .menu-header-in-right-icon-view {
		display: block;
	}
}
/*LARGE DEVICES*/
@media only screen and (max-width: 890px) {
	.menu-header-in-center-list {
		display: none;
	}
	.menu-header-in-right-search-in {
		width: 250px;
	}
	.menu-header-in-right-search-icon {
		margin-left: 222px;
	}
	.menu-header-in-right-icon-view {
		display: none !important;
	}
	.menu-header-in-right-icon-list {
		display: block;
	}
}
@media only screen and (max-width: 515px) {
	.menu-header-in-right-search-in {
		width: 180px;
	}
	.menu-header-in-right-search-icon {
		margin-left: 152px;
	}
	.menu-header-top-in-list-btn {
    	margin: 0 15px 0 0;
	}
}
@media only screen and (max-width: 425px) {
	.menu-header-top-in-list-btn {
    	margin: 0 10px 0 0;
	}
	.menu-header-in-left {
		margin-left: 10px;
	}
}
@media only screen and (max-width: 375px) {
	.menu-header-in-left {
		margin-left: 0;
	}
	.menu-header-in-right-icon {
		margin-right: 10px;
	}
	.menu-header-in-right-search-in {
		width: 120px;
	}
	.menu-header-in-right-search-icon {
		margin-left: 92px;
	}
	.menu-header-top-in-list-btn {
    	margin: 2px 5px 0 0;
    	font-size: 9px;
	}
}